[submodule "make_gadgets"]
	path = make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
	shallow = true
[submodule "cppcheck_docker"]
	path = cppcheck_docker
	url = git@github.com:DLR-TS/cppcheck_docker.git
	shallow = true
[submodule "cpplint_docker"]
	path = cpplint_docker
	url = git@github.com:DLR-TS/cpplint_docker.git
	shallow = true
[submodule "lizard_docker"]
	path = lizard_docker
	url = git@github.com:DLR-TS/lizard_docker.git
[submodule "ci_teststand"]
	path = ci_teststand
	url = git@github.com:DLR-TS/ci_teststand.git
